In [1]:
import pandas as pd

In [5]:
md_df = pd.read_csv("metadata.tsv", sep='\t', low_memory=False)

In [6]:
md_df

                                   sample_name identifier    omic strand
0  1-1_t2_metaRS_S13_L004_R1_001.250k.fastq.gz     1-1_t2  metaRS     R1
1   1-1_t2_metaT_S37_L004_R2_001.250k.fastq.gz     1-1_t2   metaT     R2
2   1-1_t2_metaT_S37_L004_R1_001.250k.fastq.gz     1-1_t2   metaT     R1
3  1-1_t2_metaG_S121_L004_R2_001.250k.fastq.gz     1-1_t2   metaG     R2
4  1-1_t2_metaG_S121_L004_R1_001.250k.fastq.gz     1-1_t2   metaG     R1

In [7]:
md_df['new_col'] = md_df['identifier'] + "_" + md_df['omic'] + "_" + md_df['strand']

In [8]:
md_df

,sample_name,identifier,omic,strand,new_col
0,1-1_t2_metaRS_S13_L004_R1_001.250k.fastq.gz,1-1_t2,metaRS,R1,1-1_t2_metaRS_R1
1,1-1_t2_metaT_S37_L004_R2_001.250k.fastq.gz,1-1_t2,metaT,R2,1-1_t2_metaT_R2
2,1-1_t2_metaT_S37_L004_R1_001.250k.fastq.gz,1-1_t2,metaT,R1,1-1_t2_metaT_R1
3,1-1_t2_metaG_S121_L004_R2_001.250k.fastq.gz,1-1_t2,metaG,R2,1-1_t2_metaG_R2
4,1-1_t2_metaG_S121_L004_R1_001.250k.fastq.gz,1-1_t2,metaG,R1,1-1_t2_metaG_R1

In [9]:
md_df['new_col'].duplicated()

0    False
1    False
2    False
3    False
4    False
Name: new_col, dtype: bool

In [10]:
md_df['sample_name'] = md_df['sample_name'].str.strip()
md_df['identifier'] = md_df['identifier'].str.strip()
md_df['strand'] = md_df['strand'].str.strip().str.lower()

In [13]:
md_df.shape[1]

5